* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;  /* 1 rem - 10 px*/
    width: 100vw;
    height: 100vh;
}

body {
    font-size: 1.6rem;
}

.flex-container {
    background: rgb(179, 226, 231);
    /* margin: auto; */
    /* width:100vw; */
    display: flex;
    padding: 1em;
    align-items: center;
    flex-direction: column;
    

}

.flex-section {

    background: rgb(213, 229, 230);
    padding: 1rem;
    border-radius: 1rem;
    border: 0.2rem solid rgb(2, 2, 3);
    width: 60%;
    margin: 1rem;
    height: 5rem;
    display: flex;
    justify-content:center;
    align-items:center;
    /* flex-direction: column; */
    
}

.flex-section > img {
    background: lightgreen;
    /* width: 50%; */
    height: 2.5rem;
    margin-right: 1rem;
    
    /* align-items: flex-end; */
    /* margin: 1rem; */
    /* align-items: flex-end; */

}



/* h1 {
    text-align: center;
} */

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 3rem;
    color: red;
    margin-top: 1rem;
}

/* p {
    text-align: center;
} */

input {
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
    height: 22px; 
    width: 100px;
}

label {
    text-align: right;
}

button {
    text-align: center;
    margin-left: 10px;
    height: 30px; 
    width: 200px;

}


.grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 1em;
    padding-top: 1rem;
    /* padding: 1em; */
}

.grid1-cuadrado {
    /* grid-column: 2/3; */
    height: 20rem;
    width: 48rem;
    justify-self: flex-end;

}

.grid1-circulo {

    /* grid-column: 3/4; */
    height: 20rem;
    width: 48rem;


}

.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    /* gap: 1em;
    padding: 1em; */
    
}

.grid2-triangulo {
    grid-column: 2/3;
    height: 30rem;
    /* width: 80rem; */

}

.nested-gridLabelInput {
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 1em; 
    justify-items:auto;
}

.nested-gridLabelInputTriangulo {
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 1em; 
    /* padding-bottom: 3em; */
    justify-items:auto;

}

.nested-gridButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    justify-items: center;
}



.grid1 > section {
    background: rgb(213, 229, 230);
    padding: 1rem;
    justify-items: center;
    border-radius: 4rem;
    border: 0.2rem solid blue
    
}

.grid1 section:hover {
    border: 1px solid rgb(236, 70, 29);
}

.grid2 > section {
    background: rgb(213, 229, 230);
    padding: 1rem;
    justify-items: center;
    border-radius: 4rem;
    border: 0.2rem solid blue
    
}

.grid2 section:hover {
    border: 1px solid rgb(236, 70, 29);
}